/* https://stephango.com/flexoki */
:root {
  --bg: rgb(255, 252, 240);
  --bg-2: rgb(242, 240, 229);
  --ui: rgb(230, 228, 217);
  --ui-2: rgb(218, 216, 206);
  --ui-3: rgb(206, 205, 195);
  --tx: rgb(16, 15, 15);
  --tx-2: rgb(111, 110, 105);
  --tx-3: rgb(183, 181, 172);

  --red: rgb(209, 77, 65);
  --red-dark: rgb(175, 48, 41);
  --orange: rgb(218, 112, 44);
  --orange-dark: rgb(188, 82, 21);
  --yellow: rgb(208, 162, 21);
  --yellow-dark: rgb(173, 131, 1);
  --green: rgb(135, 154, 57);
  --green-dark: rgb(102, 128, 11);
  --cyan: rgb(58, 169, 159);
  --cyan-dark: rgb(36, 131, 123);
  --blue: rgb(67, 133, 190);
  --blue-dark: rgb(32, 94, 166);
}


body {
  color: var(--tx);
  background-color: var(--bg-2);
  font-family: "BespokeSerif-Regular", serif;
  font-display: fallback;
  line-height: 1.5;
  margin: 0 0 0 10vw;
  max-width: 768px;
  font-size: 20px;
}

header, footer, main {
  width: 40vw;
  margin: auto;
}

@media (max-width: 1200px) {
  body {
    margin: auto;
  }

  header, footer, main {
    width: 60vw;
    margin: auto;
  }
}

@media (max-width: 900px) {
  header, footer, main {
    width: 90vw;
    margin: auto;
  }
}

header div {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

header h1 {
  font-size: 1em;
  font-weight: normal;
}

main h1 {
  font-family: "BespokeSerif-Bold", serif;
}

h1 {
  margin-bottom: 0;
}

time {
  color: var(--tx-2);
  font-size: 0.8em;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.date {
  font-size: 0.8em;
  font-weight: normal;
}

header {
  height: 15vh;
  display: flex;
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
  justify-content: end;
  align-items: end;
}

.header h1 a {
  text-decoration: none;
  color: var(--tx);
}

footer {
  border-top: 1px solid var(--tx);
  margin-top: 6rem;
  font-size: 0.8em;
}

footer p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  color: var(--orange);
}

a:visited{
  color: var(--orange-dark);
}

/* HOME */
.front-matter{
  margin-bottom: 10vh;
  font-size: 0.8em;
  font-style: italic;
}

.home-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home-list h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.home-list p {
  font-style: italic;
  color: var(--tx);
  margin-top: 5px;
}

/* POST */
blockquote {
  font-style: italic;
  border-left: 1px solid var(--tx);
  padding-left: 10px;
}

figure {
  display: block;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 5px;
  
}

figure img {
  background-color: var(--bg);
  width: 100%;
  height: 100%;
}

figure figcaption h4 {
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
}

figure figcaption p {
  font-size: 0.9em;
  text-align: center;
  font-style: italic;
}

hr {
  width: 10%;
  margin-top: 50px;
  margin-bottom: 50px;
}

nav ul {
  padding: 10px 0 10px 0;
  border-top: 1px solid var(--tx-3);
  border-bottom: 1px solid var(--tx-3);
  list-style-position: outside;
  list-style-type: none;
  margin-top: 50px;
  margin-bottom: 50px;
}

nav ul > li::before {
  content: "~ ";
}

.footnotes{
  font-size: 0.8em;
  color: var(--tx-2);
}

.footnotes ol {
  padding: 0;
  list-style-position: inside;
}

.footnotes ol li {
  margin-top: 10px;
}

.footnotes ol li p {
  display: inline;
}

.footnotes > ol::before {
  content: "Notes";
  font-size: 1.2em;
}
