{{ define "main" }}
<div class="front-matter">
  {{ .Content }}
</div>
<div class="home-list">
  {{ range site.RegularPages }}
  <div>
    <div class="top">
      <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
        <div class="date">{{ .Date | time.Format "01.2006" }}</div>
      
    </div>
    <p>{{ .Summary }}</p>
  </div>
  {{ end }}
</div>
{{ end }}
