<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<script defer data-domain="carnet.enframed.net" src="https://stats.ia-fictions.net/js/plausible.js"></script>
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
